<header class="header">
    {{isLogin}}
    <nav class="nav width">
        <div class="nav-menu">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                 <li>
                    <a href="#">About</a>
                </li>
                 <li>
                    <a href="login.hbs">Login</a>
                </li>
                 <li>
                    <a href="/views/auth/Register.hbs">Register</a>
                </li>
                 <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>